{% extends 'base.html' %}


{% block head %} 

    <title>Log in</title>

{% endblock %}



{% block body %}
    <!--
        Login page with a few options:

        Register:
            Add a button to register/sign in that redirect to another page where we can add
                informations and create an account (add it to database), then connect the user to that account.
                So, do not use log in page again ?
        
        Log in:
            Huge form where a guest must enter a <username or email> and a <password>.
            Then submit by pressing a button "Connexion"

    -->
    <h1>Log in</h1>

    <form action="/login" method="post" >
        <div>
            <label>Username:</label> <br/>
            <input type="text" name="username">
        </div>

        <div>
            <label>Password:</label> <br/>
            <input type="password" name="password">
        </div>
        <div>
            <input type="submit" value="Connect"/>
        </div>
    </form>

{% endblock %}