{% extends 'base.html' %}


{% block head %} 

    <title>Register</title>

{% endblock %}



{% block body %}
    <!--
        Register:
            A guest must add informations and create an account (add it to database)
            Then connect the user to that account.
                So, do not use log in page again ?
    -->
    <form action="/register" method="post" >
        
        <div>
            <label>Enter an username:</label> <br/>
            <input type="text" name="username" placeholder="AwesomeCatLover">
        </div>
        
        <div>
            <label>Enter an email:</label><br/>
            <input 
                type="email"
                name="email" 
                placeholder="catlover@mail.com"
            >
        </div>

        <div>
            <label>Enter your password</label><br/>
            <input type="password" name="password">
        </div>

        <div>
            <label>No time to check your password, go ahead.</label><br/>
        </div>
        
        <div>
            <input type="submit" value="Create account"/>
        </div>
    </form>

{% endblock %}